body{
	background-color: white;
}

.content {
	width: 100%;
}

nav a {
	display: inline-block;
	padding: .3rem 1rem;
	color: #000;
	text-decoration: none;
	font-family: 'Wire One', sans-serif;
	font-size: 20pt
}
nav a:hover, nav a:focus {
	color: #fff;
	background: #000;
}
nav a:not(:last-child) {
	border-right: 1px solid black;
}

h1{
	text-align: center;
	color: black;
	font-weight: lighter;
	font-size: 50pt;
	font-family: 'Wire One', sans-serif;
	margin-bottom: 0px;
}

hr {
	width: 30%;
}

h3{
	text-align: center;
	color: black;
	font-weight: lighter;
	font-size: 25pt;
	font-family: 'Wire One', sans-serif;
	margin: 20px 0 20px;
    padding: 0 0 10px;
}

#camera {
	text-align: center;
	display: block;
	margin: 0px, 0px, 50px, 0px;
	padding-right: 10px;
}

#photostrip1 {
	margin: 0 auto;
    align-items: center;
    white-space: nowrap;
}

.ourBeginning {
	text-align: center;
	color: black;
	font-weight: lighter;
	font-size: 12pt;
	font-family: 'Pavanam', sans-serif;
	margin: 0px 130px 30px;
}
  