body{
	background-color: white;
}

.content {
	width: 100%;
}

nav a {
	display: inline-block;
	padding: .3rem 1rem;
	color: #000;
	text-decoration: none;
	font-family: 'Wire One', sans-serif;
	font-size: 20pt
}
nav a:hover, nav a:focus {
	color: #fff;
	background: #000;
}
nav a:not(:last-child) {
	border-right: 1px solid black;
}

h1{
	text-align: center;
	margin-bottom: 20px;
	color: black;
	font-weight: lighter;
	font-size: 50pt;
	font-family: 'Wire One', sans-serif;
}

hr {
	margin-top: 20px;
	margin-bottom: 30px;
	width: 30%;
}

a:hover {color: lightblue; }

.Sessions{
	margin:0 auto;    
	display:block;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: lighter;
	font-size: 30pt;
	font-family: 'Wire One', sans-serif;
}

.sessionDes {
	text-align: center;
	font-family: 'Pavanam', sans-serif;
	font-size: 15pt;
}

#camera {
	text-align: center;
	display: block;
	margin: 0px, 0px, 50px, 0px;
	padding-right: 10px;
}